.newsletter {
    border-top: 1px solid #e5e5e5;
    padding: 0 3rem;

    .newsletter__form {
        display: flex;
        flex-direction: column;

        margin: 4rem;

        div {

            display: flex;
            justify-content: center;

            input {
                all: unset; // remove existing styling
    
                background-color: #e5e5e5;
                text-align: left;
                padding: 1.5rem 1rem;
                width: 21rem;
            }
    
            button {
                all: unset; // remove existing styling
    
                background-color: black;
                color: white;
                padding: 1.5rem; // square with same height as input
    
                transition: background-color 200ms ease-in-out;
    
                &:hover, &:active {
                    cursor: pointer;                
                    background-color: lighten(black, 10%);
                }
            }
        }

        .message {
            display: block;
            
            font-weight: bold;
            color: red;

            margin-top: 0.5rem;
        }
    }
}